* {
    margin: 0;
    padding: 0;
}

:root {
    --base-font: 'Raleway', sans-serif;
    --secondar-font: 'Open Sans', sans-serif;
    --my-blue: #08A6E4;
    --my-red: #FB3B64;
    --my-green: #55DFB4;
    --black: #000000;
    --dark-grey: #95989A;
    --medium-grey: #A5A5A5;
    --white: #FFFFFF;
}

body {
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

header, main, footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.header-top {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-top-middle {
    max-width: 1352px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-bottom-background {
    width: 100%;
    max-width: 1735px;
    max-height: 519px;
    height: 60vh;
    padding-top: 130px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-image: url(../images/Background.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;

}

.header-bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main-intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-intro-container {   
    max-width: 1352px;
    width: 100%;
}

.main-intro-container-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.main-intro-container-bottom {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

.main-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-description-1st-row, .main-description-2nd-row,  .main-description-3rd-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-description-1st-row-container {
    max-width: 1352px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-description-2nd-row-container {
    max-width: 1352px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-description-3rd-row-container {
    max-width: 1352px;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-pricing-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-pricing-container-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-pricing-container-botttom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-questions {    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-questions-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-questions-container-left, .main-questions-container-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-container {
    max-width: 1352px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}