* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --base-font: 'Raleway', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
    --my-blue: #08A6E4;
    --my-red: #FB3B64;
    --my-green: #55DFB4;
    --black: #000000;
    --dark-grey: #95989A;
    --medium-grey: #A5A5A5;
    --light-grey: #F7F7F7;
    --white: #FFFFFF;
}

body {
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

header, main, footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    font-family: var(--base-font);
    font-size: 3rem;
    color: var(--black);
    font-weight: 400;
}

h2 {
    font-family: var(--base-font);
    font-size: 2.125rem;
    color: var(--black);
    font-weight: 400;
}

h3 {
    font-family: var(--base-font);
    font-size: 2.125rem;
    color: var(--black);
    font-weight: 400;
}

.numbers {
    font-family: var(--base-font);
    font-size: 1.125;
    color: var(--black);
    font-weight: 900;
    padding-top: 1.125rem;
}

.icon-container-left, .icon-container-middle, .icon-container-right {
    height: 4rem;
    width: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icon-container-left::before {
    background-color: var(--my-red);
    content: "";
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: block;
    z-index: 0  ;
    position: absolute;
}

.icon-container-middle::before {
    background-color: var(--my-blue);
    content: "";
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: block;
    z-index: 0;
    position: absolute;
}

.icon-container-right::before {
    background-color: var(--my-green);
    content: "";
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: block;
    z-index: 0;
    position: absolute;
}

.actions {
    font-family: var(--base-font);
    font-size: 1rem;
    color: var(--medium-grey);
    font-weight: 400;
    padding-top: 1.125rem;
}

.header-top-nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-top {
    width: 100%;
    height: 4.375rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    margin-bottom: 8.125rem;
    box-shadow: 0px 3px 6px #00000029;
}

.header-top-logo a {
    text-decoration: none;
    font-family: var(--base-font);
    font-weight: 300;
    font-size: 2rem;
    color: var(--my-blue);
    padding-left: 0.25rem;
}

.menu {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu a {
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 0.75rem;
    color: var(--medium-grey);
    width: 100%;
    height: 100%;
    display: inline-block;
}

.menu a:focus {
    border: 1px dashed var(--my-blue);
    border-bottom: 1px solid var(--my-blue)
}

.menu a:hover {
    color: var(--black)
}

.menu ul {
    height: 100%;
        
}

.menu li {
    display: inline-block;
    height: 100%;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    list-style: none;
    line-height: 4.5rem;
}

.menu li:hover {
    border-bottom: 0.125rem solid var(--my-blue);
}

.menu li:first-child {
    margin-left: 0;
}

.menu li:last-child {
    margin-right: 0;
}

.header-top-container {
    max-width: 84.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-bottom-background {
    width: 100%;
    height: 41rem;
    max-width: 108rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-image: url(../images/Background.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;

}

.header-bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header-bottom-container p {
    font-family: var(--base-font);
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
}

.header-bottom-container button {
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 700;
    color: var(--white);
    width: 27.5rem;
    height: 4.125rem;
    box-shadow: 5px 10px 14px rgba(7, 171, 230, 0.212);
    background-color: var(--my-blue);
    border-radius: 50px;
    border: 0px;
}

.header-bottom-container button:hover {
    box-shadow: 5px 10px 14px rgba(7, 171, 230, 0.336);
    cursor: pointer;
}

.main-intro, .main-description, .main-pricing, .main-questions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    width: 100%;
}

.main-description {
    background-color: var(--light-grey);
}

.main-description p {
    font-family: var(--secondary-font);
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    padding-top: 2rem;
}

.main-intro-container {   
    max-width: 84.5rem;
    width: 100%;
    
}

.main-intro-container-top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-intro-container-bottom {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

.main-intro-container-bottom-left, .main-intro-container-bottom-middle, .main-intro-container-bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.person-img, .eye-img, .catalog-img {
    z-index: 1;
    position: absolute;
    left: 2rem;
}

.main-description-1st-row, .main-description-2nd-row,  .main-description-3rd-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-description-1st-row-container {
    max-width: 84.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 5px;
    border: 1px solid #E8E9ED;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}

.macbook {
    height: 13rem;
    width: 23rem;        
}

.macbook-container {
    position: relative;
    z-index: 1;
}

.macbook-container::before {
    content: "";
    width: 11rem;
    height: 11rem;
    border-radius: 41px;
    background-color: var(--my-red);
    display: block;
    z-index: -1;
    position: absolute;
    transform: rotate(45deg);
    right: -1.5rem;
    top: -5rem;
    
}

.main-description-1st-row-container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.main-description-1st-row-container-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 20rem;

}

.main-description-2nd-row-container {
    max-width: 84.5rem;
    width: 100%;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-description-3rd-row-container {
    max-width: 84.5rem;
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-pricing-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-pricing-container-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-pricing-container-botttom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-questions-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-questions-container-left, .main-questions-container-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-container {
    max-width: 84.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-description-1st-row p {
    position: relative;
}

.main-description-1st-row p::after {
    content: "";
    width: 70%;
    height: 0.2rem;
    display: block;
    background-color: var(--my-red);
    bottom: -3rem;
    position: absolute;
}